* {
    box-sizing: border-box;
  }
  @mixin pc {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin pad {
    @media (max-width: 768px) {
      @content;
    }
  }
  @mixin phone {
    @media (max-width: 375px) {
      @content;
    }
  }

  $font-m: 16px;
  $font-l: $font-m * 1.5;
  $font-s: $font-m * 0.8;
  $primary-color:#001b4e;



  .mobile_close,
  .mobile_open {     
      display: inline-block;
      color: $primary-color;
  }

  .mobile_open {
    display: none;  
    position: fixed;
    z-index: 90;
    top: 100px;
    left: 0;
    transition: all 0.5s;

    @include pad {          
      display: inline-block;      
    }
  }

  .fas {
    padding: 1em;
  }

  .aside {
    display: none;
    position: fixed;
    z-index: 90;  
    top: 100px;
    transform: translateX(-192px);
    // 在 PC 顯示下，往左邊推擠到 container 外
    width: 192px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.589);
    
    @include pad {
        display: inline-block;
        transition: all 0.5s;
    }
  }

  .main {
    @include pad {
        .menu-sty {
            display: none;
            // 在 pad 時候隱藏
        }
    }
  }

  // 透過 jQuery 增加 class open 觸發選單
  .open {
    .mobile_open {
        transform: translateX(192px);
        // 當觸發 .open 時， aside 會打開
        transition: all 0.5s;
    }
    .aside {
        transform: translateX(0);
        // 當觸發 .open 時， aside 會打開
        transition: all 0.5s;
    }
  }