@media only screen and (max-width: 480px) {
    .detail-div {
        width: 300px;
        background-color: #ffff;
    }
    .conleft {
        height: 7.5rem;
    }
    .con-box-p {
        line-height: 0.3rem;
    }
    /*.hide {
        display:none;
    }*/
}
.slider_container {
    margin: 0.3rem auto;
    width: 4.8rem;
    height: 2.7rem;
    position: relative;
    border: 0.2rem solid;    
    border-color: rgb(148, 175, 173);
    border-bottom-width: 0.5rem;
    background: white;
    box-shadow: #666 0 0 5px;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*當圖片數量增加，影片長度需更改，變為4s*圖片數量*/
.slider_container div {
    -webkit-animation: round 20s linear infinite;
            animation: round 20s linear infinite;
}
/*100/45=2.222...2.222..=1sec*/
@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {  /*5%*5*/
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {  /*25%+5%*/
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
.slider_container div:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.slider_container div:nth-child(2) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.slider_container div:nth-child(3) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slider_container div:nth-child(4) {
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
}
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slider_container span {    
    color: rgb(1, 42, 153);
    background: rgba(255, 255, 255, 0.822);
    position: absolute;
    left: 0%;
    bottom: -0.3rem;
    width: 3.4rem;
    height: 0.35rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.35rem;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
.slider_container:hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}
.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
/*--------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
html {
    font-size: 16px;
}
a:link, a:visited, a:hover {
    text-decoration: none       /*none ←加這句 去除連結底線*/
}
.renew {
    position: fixed;
    z-index: 5;
    bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.15rem;
    color: rgb(3, 63, 119);
    background-color: rgba(255, 255, 255, 0.589);
}
.menu-sty {
    position: fixed;
    z-index: 15;
    top: 0.2rem;
    padding-left: 0.1rem;
    font-size: 0.15rem;
    line-height: 0.3rem;
    color: rgb(43, 83, 5);
    background-color: rgba(255, 255, 255, 0.589);
}
.menu-sty a:link, .menu-sty a:visited{
    color: rgb(76, 128, 129);
}
.menu-sty a:hover {
    color: rgb(149, 225, 228);
    background-color: rgb(21, 105, 153);
}
.music-sty {
    position: fixed; 
    z-index: 20;
    top: 5px; 
    right: 0px; 
    background-color: rgba(255, 255, 255, 0.774); 
    width: 20%; 
    /*height: 1.15rem;*/
    text-align: center;
}
.mus-box {
    float: left;     
    margin: 0.05rem;
    width: 100%;
    text-align: center;
    font-size: 0.15rem;
    font-family: DFKai-sb; 
    color: rgb(44, 59, 16);
}
button {
    width: 40px;
    height: 0.4rem;
    background: rgb(2, 221, 148);
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background: #750f0f;
}
#gotop {
    position: fixed;
    z-index: 90;
    right: 0.3rem;
    bottom: 0.31rem;
    display: none;
    width: 0.5rem;
    height: 0.5rem;
    color:#fff;
    background:#33b5e5;
    line-height: 0.5rem;
    font-size: 0.17rem;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#gotop :hover{
    background:#0099CC;
}
/*網頁最上方*/
.header {   /*使未調整內容可以靠右*/
    /*position: absolute;     /*設定absolute，該元素就會完全跳脫該頁面，換個說法，它浮在頁面之上。原本所占用的空間將不復存在*/
    overflow: hidden;   /*自動隱藏超出的文字或圖片*/
    left: 0;
    top: 0;
    z-index: 10; 
    width: 100%;
    height: 0.8rem;
    text-align: center;
    background-color: rgb(98, 136, 33);
}
.nav {
    position: relative;
    display: inline-block !important; /*置中關鍵*/
    width: 7rem;
    height: 0.8rem;
}
.btn-index {
    float: left;
    display: inline;
    text-align: center;
    padding-top: 0.25rem;
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 0.55rem;
    font-size: 0.25rem;
    font-family: DFkai-sb, sans-serif;
}
/*Links文章去除連結底線*/
.nav a:link, .nav a:visited {
    color: rgb(14, 218, 197);     /*超連結字體顏色*/
    text-decoration: none       /*none ←加這句 去除連結底線*/
}
.nav a:hover {
    color: rgb(11, 110, 150);     /*滑鼠停在超連結中文字的顏色*/
    background-color: #c1f8ab;  /*滑鼠停留在超連結中文字的底色*/
    text-decoration: none;      /*none ←加這句 去除連結底線*/
}
.wrap {
    position: relative;
    margin: 0 auto;     /*重要區塊置中*/
    max-width: 800px;
    background-image: url(images/wrap.jpg); 
    background-image: url(images/wrap.png);
    background-image: url(images/wrap.gif);
}
/*背景*/
.a-container {
    overflow: hidden;
    font-weight: bold;      /*粗體字*/
    font-size: 0.16rem;
    color: #0099CC;
    background-color: rgb(189, 204, 160);
}
.h-top {
    width: 100%;
    height: 1rem;
}
.main {
    position: relative;     /*後續對齊用*/
    float: left;  
    margin-bottom: 30px;
    max-width: 800px;  
}
.details{
    margin: 0 auto;     /*重要區塊置中*/
    width: 100%;
    /*height: 600px;
    min-height: 600px;*/
    height: auto !important;
    color: #792e10; 
    font-family: DFKai-sb;
}
.details h3{
    float: left;
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 0.4rem;
    width: 100%;
    text-align: center;
}
.h3-tit{
    float: left;
    width: 100%;
    font-size: 0.24rem;
}
.date{
    float: left;
    width: 100%;
    line-height: 36px;
    font-size: 0.15rem;
}

.detail-div {
    float: left;    /*不可缺，h3會被吃掉*/
    position: relative;
    margin-top: 20px;
    padding: 30px;
    line-height: 0.36rem;  /*所有間距*/
    font-size: 0.18rem;
    box-shadow: 2px 2px 2px gray;
    background-color:#bae0f8;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.detail-div p{
    margin: 5px 0;
    word-wrap: break-all;
    word-break: normal;     /*亞洲語言及非亞洲語言的文字斷行規則來進行換行*/
}

.container{
    float: left;
    overflow: hidden;
    padding-bottom: 40px;
    width: 100%;
    /*font-weight: bold;      /*粗體字*/
    font-size: 0.18rem; 
    background-color: rgba(255, 255, 255, 0.904);
}
.MsoNormal {
    float: left;
    width: 100%;
    /*margin: 5px;*/  /*不會有反應除非比.detail-div p裡還大*/
    line-height: 20px;
    font-size: 0.18rem;
}

.p-tit1 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 0.36rem;
    font-size: 0.25rem;
    color: darkblue;
}
.p-tit2 {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.2rem;
    color: rgb(0, 41, 155);
}
.p-con {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.18rem;
    color: rgb(0, 72, 139);
}
.mid {
    float: left;
    width: 100%;
    text-align: center;     /*圖片置中關鍵*/
}
.con {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.conleft {
    position: relative;
    float: left;
    width: 50%;
    min-height: 5.3rem;  /*530*/
}
.div-box {
    float: left;
}
.con-box {
    position: absolute; 
    /*float: left;*/
    bottom: 0.1rem; 
    width: 100%;
}
.con-box-p-tit {
    font-size: 0.2rem;
    color: rgb(0, 41, 155);
}
.con-box-p {
    overflow: hidden;
    font-size: 0.15rem;
    line-height: 20px;  /*20*/
    color: rgb(0, 72, 139);
}
.conright {
    float: right;
    width: 49%;
    min-height: 5.3rem;
}
.Mso-con {
    line-height: 20px;
    font-size: 0.16rem;
    color: #d1521f;
}