* {
    box-sizing: border-box;
  }
  @mixin pc {
    @media (max-width: 1024px) {
      @content;
    }
  }
  
  @mixin pad {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin phone {
    @media (max-width: 375px) {
      @content;
    }
  }
  
  $font-m: 16px;
  $font-l: $font-m * 1.5;
  $font-s: $font-m * 0.8;
  $primary-color:#ffbe0b;

  a {
    text-decoration: none;
    font-size: $font-m;
  }

  /*h2 {
    font-size: $font-l;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 1em;
}*/

  /*p {
    line-height: 1.8;
    padding: 1em;
  }*/

  .mobile_close,
  .mobile_open {
      display: inline-block;
      // 使用 inline-block 才可以調整大小
      font-size: $font-m;
      padding: 1px;
      color: $primary-color;
      line-height: 30px;
  }

  .mobile_open {
    display: none;

    @include pad {
        display: inline-block;
    }
  }

  .fas {
    padding: 1em;
  }

  .aside {
    overflow: hidden;
    // 在 PC 時隱藏
    overflow-y: scroll;
    width: 300px;
    
    background-color: rgb(253, 231, 240);
    transform: translateX(-300px);
    // 在 PC 顯示下，往左邊推擠到 container 外
    position: absolute;
    z-index: 15;
    height: 90%;
    top: 80px;
    bottom: 0;
    // 將 aside 選單絕對定位在 container 上，並且使用上方與下方都為 0px ，靠左邊對齊，讓 header 可往上移動

    @include pad {
        display: block;
        border-right: 3px solid $primary-color;
        border-bottom: 3px solid $primary-color;
        transition: all 0.5s;

        /*a {
          display: block;
          // 在 pad 螢幕下屬性改成 block 佔滿整行
          padding: 1em;
        }*/
    }
  }

  /*.left-side{
    @include pad {
      a {
        display: block;
        // 在 pad 螢幕下屬性改成 block 佔滿整行
        padding: 1em;
      }
    }
  }*/

  .main{
    transform: translateX(0px);
    transition: all 0.5s;
    // 讓 aside 在收闔時，可以同步收闔
  }

  .main {
    @include pad {
        .right-side {
            display: none;
            // 在 pad 螢幕以下會不顯示選單
            transition: all 0.5s;
        }
    }
  }

  // 透過 jQuery 增加 class open 觸發選單
  .open {
    .main {
        transform: translateX(300px);
        // 當觸發 .open 時，main 會跳出選單
        transition: all 0.5s;
    }

    .aside {
        transform: translateX(0);
        // 當觸發 .open 時， aside 會打開
        transition: all 0.5s;
    }
  }