@media only screen and (max-width: 480px) {
    
    
}
div {
    display: block;
}
html {
    font-size: 16px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mid {
    float: left;
    width: 100%;
    text-align: center;
}
.menu-sty {
    position: fixed;
    z-index: 20;
    top: 100px; 
    background-color: rgba(175, 103, 40, 0.582); 
    width: 8%;
}
.sitebody {
    margin: 0 auto;
}
.header {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color:#FFD4D4;
}
.left-side {
    /*float: left;
    /*width: 100%;*/
    margin-left: 180px;
    margin-right: 300px;
    padding: 0;
    background-color: rgb(175, 175, 228);
}
.detail-div {
    float: left;
    display: block;
    margin: 0 auto;
    width: 99%;
    line-height: 25px;
    box-shadow: 2px 2px 2px gray;
    background-color:#ffff;
}
.right-side {
    float: right;
    max-width: 300px;
    height: 600px;  
    font-weight: bold;
    color: rgb(99, 1, 1);
    background-color: rgb(253, 231, 240);
}
.r-MsoNormal {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 16px;
    font-family: PMingLiU, san-serifs;
    color: rgb(167, 57, 6);
}
.footer {
    clear: both;
    height: 80px;
    background-color: #ffff;
}
