@media only screen and (max-width: 480px) {
    
    
}
div {
    display: block;
}
html {
    font-size: 16px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mid {
    float: left;
    width: 100%;
    text-align: center;
}

.sitebody {
    margin: 0 auto;
}
.header {
    /*position: absolute;     /*設定absolute，該元素就會完全跳脫該頁面，換個說法，它浮在頁面之上。原本所占用的空間將不復存在*/
    overflow: hidden;
    /*text-align: center;*/
    height: 80px;
    line-height: 80px;
    font-family: DFkai-sb, sans-serif;
    background-color:#FFD4D4;
}
.nav {
    position: relative;
    /*float: left;*/
    /*display: inline;*/
    margin: 0 auto;
    width: 700px;
    height: 80px;
}
.nav a:link, .nav a:visited {
    color: rgb(26, 140, 185);     /*超連結字體顏色*/
    text-decoration: none       /*none ←加這句 去除連結底線*/
}
.nav a:hover {
    color: rgb(11, 110, 150);     /*滑鼠停在超連結中文字的顏色*/
    background-color: #c1f8ab;  /*滑鼠停留在超連結中文字的底色*/
    text-decoration: none;      /*none ←加這句 去除連結底線*/
}
.btn-index {
    float: left;
    display: inline;
    text-align: center;
    /*padding-top: 25px;*/
    margin-left: 50px;
    width: 150px;
    height: 80px;
    font-size: 25px;
}
.left-side {
    /*float: left;
    /*width: 100%;*/
    margin-left: 180px;
    margin-right: 300px;
    padding: 0;
    background-color: rgb(175, 175, 228);
}
.detail-div {
    float: left;
    display: block;
    margin: 0 auto;
    width: 99%;
    line-height: 25px;
    box-shadow: 2px 2px 2px gray;
    background-color:#ffff;
}
.right-side {
    float: right;
    max-width: 300px;
    height: 600px;  
    font-weight: bold;
    color: rgb(99, 1, 1);
    background-color: rgb(253, 231, 240);
}
.r-MsoNormal {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 16px;
    font-family: PMingLiU, san-serifs;
    color: rgb(167, 57, 6);
}
.footer {
    clear: both;
    height: 80px;
    background-color: #ffff;
}
